@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transform: .2s linear;
    list-style: none;
}

html {
    font-size: 65.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}

address {
    font-style: normal;
}

.btn {
    display: inline-block;
    font-size: 1.7rem;
    color: red;
    background: none;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border: 1px solid red;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: red;
    color: white;
}

section {
    padding: 3rem 7%;
}
footer {
    padding: 3rem 7%;
}

.title {
    font-size: 2.8rem;
    color: #130f40;
    padding: 1.2rem;
    text-align: center;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}

.title strong {
    color: red;
}

/* company */
#site-top {
    background-image: url(../img/topo-paginas-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 12rem;
    padding-bottom: 8rem;
    text-align: center;
}

#site-top h1 {
    color: white;
    font-size: 4rem;
}

#site-top p {
    padding-top: 1rem;
    color: white;
    font-size: 2rem;
}

#site-top p a {
    color: red;
    padding-right: .5rem;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    z-index: 1000;
    background-color: red;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header #logo {
    font-size: 2.5rem;
    color: white;
    font-weight: bolder;
}

header #logo i{
    color: yellow;
    padding-right: .5rem;
    rotate: 175deg;
}
nav a {  
    color: white;
    font-size: 1.7rem;
    margin:0 1rem;
}

nav a:hover {
    color: yellow;
}

#icons i {  
    color: white;
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
}
#icons i:hover {
    color: yellow;
}

#menu {
    display: none;
}

header #cart-container {
    width: 35rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 115%;
    right: -105%;
    padding: 2rem;
}

header #cart-container.active {
    right: 2rem;
    transition: .4s linear;
}

header #cart-container .box {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
}

.box .fa-times {
    transform: translateY(-50%);
    color: #777;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
}

.box .fa-times:hover {
    color: red;
}
.box img {
    height: 10rem;
}

.content h3 {
    font-size: 1.7rem;
    padding-bottom: .5rem;
    color: #130f40;
}

.content span {
    font-size: 1.7rem;
    color: #777;
}

.content span.multiply {
    margin: 0 .5rem;
}

#cart-container #total {
    font-size: 2.2rem;
    color: #130f40;
    align-items: center;
}

#cart-container .btn {
    width: 100%;
    text-align: center;
}

header #login-form {
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    width: 35rem;
    padding: 2rem;
    position: absolute;
    top: 115%;
    right: -105%;
}

header #login-form.active {
    right: 2rem;
    transition: .4s linear;
}

#login-form h3 {
    font-size: 2.2rem;
    color: #130f40;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .7rem;
}

#login-form .box{
    margin: .7rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    text-transform: none;
    color: #130f40;
}

#login-form #remember-password {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin: .7rem 0;
}

#remember-password label {
    font-size: 1.5rem;
    color: #777;
    cursor: pointer;
}

#login-form .btn {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}

/* slider */
#banner-slide {
    background-color: black;
    padding: 0;
}

#banner-slide .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
}

.slide .content {
    display: none;
    width: 60rem;
    text-align: center;
}

.slide .content h3 {
    font-size: 6rem;
    line-height: 1.3;
    color: white;
    padding: 2rem 0;
    animation: sliderAnimation 1s ease forwards;
}

.slide .content span {
    font-size: 6rem;
    color: yellow;
}

.slide .content .btn {
    background-color: red;
    color: white;
    border: none;
}

.slide .content .btn:hover {
    background-color: yellow;
    color: #130f40;
    animation: slideReveal 1s ease forwards;
}

#banner-slide .swiper-slide-active .content{
    display: inline-block;
}

#banner-slide .swiper-slide-active {
    animation: slideScale 4s ease forwards;
}

@keyframes sliderAnimation {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideScale {
    0% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.swiper-button-prev,
.swiper-button-next {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    margin-left: 1.5rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.397);
    border: .1rem solid  red;
    transform: translateY(-50%) rotate(45deg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1.5rem;
    transform: rotate(-45deg);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: white;
    background-color: red;
}

/* highlights */
#highlights #box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem; 
}

#box-container .box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    background-color: red;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

#box-container .box .img-container {
    width: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#box-container .box .content {
    padding: 2rem;
}

#box-container .box .content h3 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
}

/* site instruction */
#instructions #instructions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#instructions-container .images-instructions {
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem 1rem;
}

.images-instructions img {
    width: 170px;
    border: 1rem solid white;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: 1s;
}

.images-instructions img:hover {
    transform: translateY(-10px);
    box-shadow: -2px 0.5rem 1rem rgba(0, 0, 0, 0.3);
}


.images-instructions h3 {
    font-size: 2rem;
    color: #130f40;
    padding: 1rem;
}

/* store */
#store #items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
}

#items-container .items {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 0 2.5rem;
}

.items .store-img img {
    height: 29rem;
    transition: .4s linear;
}

.items .store-img img:hover {
    transform: scale(1.1);
}

.items .pizza-type h3 {
    color: #130f40;
    font-size: 2.5rem;
    line-height: 1.8;
}

.items .description p {
    font-size: 1.5rem;
    line-height: 1.8;
}

.items .stars {
    padding: 1rem 0;
}

.items .stars i {
    color: gold;
    font-size: 1.7rem;
    transition: .1s linear;
}

.items .stars i:hover {
    transform: scale(1.20);
}

.items .price {
    font-size: 2.2rem;
    font-weight: bolder;
    margin-right: 1rem;
    color: #130f40;
}

.items .price span {
    color: red;
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: line-through;
}

/* company */
#company {
    background-color: red;
}

#company #row {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    background-color: red;
    align-items: center;
}

#row #company-image {
    flex: 1 1 32rem;
}

#company-image img {    
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#row .content {
    flex: 1 1 50rem;
}

#row .content h3 {
    font-size: 3.5rem;
    color: white;
}

#row .content span {
    font-size: 3.5rem;
    color: yellow;
}

#row .content p {
    font-size: 1.6rem;
    color: white;
    padding: 2rem 0;
    line-height: 2;
}

#company .btn {
    color: white;
    border: 1px solid white;
}

#company .btn:hover {
    background-color: yellow;
    color: #130f40;
    border: 1px solid #130f40;
}

/* blog */

#blogs #blogs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
    margin-top: 5rem;
}

#blogs-container .blogs-content {
    text-align: center;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: .4s;
}

#blogs-container .blogs-content img {
    width: 100%;
    height: 25rem;
    border-radius: .5rem;
}

#blogs-container .blogs-content:hover {
    transform: scale(1.02);
}

.blogs-content .icons {
    display: inline-block;
    background-color: red;
    padding: 1rem;
    border-radius: .5rem;
    position: relative;
    top: -2rem;
}


.blogs-content .icons a {
    color: white;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.blogs-content .icons a:hover {
    color: gold;
}

.blogs-content .icons i {
    color: #130f40;
    margin-right: .5rem;
}

.blogs-content h3 {
    font-size: 2rem;
    color: #130f40;
}

.blogs-content p {
    color: #777;
    font-family: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

/* side footer */

footer {
    background-color: #ff0000;
    text-align: center;
}

footer #footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

#footer-container .footer-content h3{ 
    text-transform: capitalize;
    font-size: 2.2rem;
    color: white;
    padding: 1rem 0;
}

.footer-content address {
    font-size: 1.5rem;
    color: white;
    line-height: 2;
    padding: 1rem 0;
}

.footer-content p {
    font-size: 1.5rem;
    color: white;
    line-height: 2;
    padding: 1rem 0;
}

.footer-content #social-media {
    margin-top: 1rem;
}

.footer-content #social-media a {
    color: white;
    border: 1px solid white;
    border-radius: 10%;
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.8rem;
    margin-right: .5rem;
}

.footer-content #social-media a:hover {
    color: #130f40;
    background-color: yellow;
    border-color: #130f40;
}

.footer-content address a#link {
    font-size: 1.7rem;
    line-height: 2;
    padding: .5rem 0;
    text-decoration: underline;
    color: white;
}

.footer-content address a#link:hover {
    text-underline-offset: 2px;
    color: yellow;
}

footer #copyright {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: .1rem solid white;
}

footer #copyright span {
    color: yellow;
}

/* gallery */
.gallery .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: .5rem;
}

.gallery .gallery-container .gallery-image {
    height: 30rem;
    position: relative;
    overflow: hidden;
}

.gallery-image img {
    transition: scale 350ms ease, opacity 350ms linear;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.gallery-container:has(img:hover) img:not(:hover) {
    scale: .95;
    opacity: .8;
}

.gallery-image .plus {
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.gallery-image .plus i {
    font-size: 5rem;
    color: white;
}

/* .gallery-image:hover .plus{
    display: flex;
    font-size: 5rem;
    color: white;
} */

/* menu slider */
#menu-section .slider .title {
    padding: 1rem;
    font-size: 3rem;
    background-color: red;
    color: white;
    margin-bottom: 3rem;
    text-align: center;
}

#menu-section .slider .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

#menu-section .box-container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 38rem;
    gap: 1rem;
    background-color: #eee;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#menu-section .box-container .box:hover {
    transform: scale(0.9);
}

#menu-section .box-container .box h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding-bottom: .5rem;
}

#menu-section .box-container .box p {
    font-size: 1.4rem;
    color: #777;
    line-height: 2;
}

#menu-section .box-container .box .price {
    font-size: 2.2rem;
    color: red;
}

.swiper-pagination {
    margin-bottom: -13px;
}

.swiper-pagination-bullet  {
    background-color: #ff0000;
    min-width: 10px;
    min-height: 10px;
}

/* window modal */
#menu-modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
}

#close {
    font-size: 5rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    transition: .3s linear;
}

#close:hover {
    transform: rotate(180deg) scale(.9);
    color: red;
}

#menu-modal-container #menu-modal {
    background-color: white;
    padding: 3rem 2em;
    text-align: center;
    border-radius: .5rem;
    width: 35rem;
}

#menu-modal-container #menu-modal.active {
    display: inline-block;
}

#menu-modal-container #menu-modal h3 {
    color: #130f40;
    font-size: 2.5rem;
    padding: 1rem 0;
}

#menu-modal-container #menu-modal .stars {
    margin-top: .5rem;
}

#menu-modal .stars i {
    color: red;
    font-size: 1.7rem;
    transition: .2s linear;
}

#menu-modal .stars i:hover {
    color: gold;
    transform: scale(1.1);
}

#menu-modal-container #menu-modal p {
    color: #777;
    font-size: 1.5rem;
    line-height: 2;
}

#menu-modal-container #menu-modal .price {
    font-size: 2.5rem;
    color: #130f40;
    margin-bottom: .5rem;
}